@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Gradient Orange */
.gradient-orange {
  background: linear-gradient(180deg, #FFA841 7.14%, #FFDE94 36.23%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

